---
services:
  atec_api:
    container_name: atec_api
    command: ["/app/main", "server"]
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 5000
    volumes:
      - ./private.pem:/app/private.pem # mount the private key here
    restart: unless-stopped
    networks:
      - database # assuming the postgres db is on separate container
      - loadbalancer
    labels:
      - traefik.enable=true
      - traefik.http.routers.atec.rule=Host(`domain.tld`) # adjust this to your domain
      - traefik.http.routers.atec.entrypoints=web
      - traefik.http.routers.atec.entrypoints=websecure
      - traefik.http.routers.atec.tls=true

networks:
  database: # the database network
    external: true
  loadbalancer: # allow to be connected to reverse proxy / loadbalancer, in this case traefik
    external: true